{{!
  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}
<div class="ast-container " id="ast-container">
    <div class="container-fluid ">
        <div class="title">
            <a class="asset-type-deviceType">{{title}}</a>
        </div>
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="hidden wr-steps">
            {{#if deviceId}}
                <div class="col-md-6 col-xs-4">
                    <div class="itm-wiz" data-step="policy-config-profile">
                        <div class="wiz-no">1</div>
                        <div class="wiz-lbl hidden-xs"><span>Configure Profile</span></div>
                    </div>
                    <br class="c-both"/>
                </div>
                <div class="col-md-6 col-xs-4">
                    <div class="itm-wiz" data-step="policy-content">
                        <div class="wiz-no">2</div>
                        <div class="wiz-lbl hidden-xs"><span>Publish</span></div>
                    </div>
                    <br class="c-both"/>
                </div>
            {{else}}
                <div class="col-md-3 col-xs-4">
                    <div class="itm-wiz itm-wiz-current" data-step="policy-devicetype">
                        <div class="wiz-no">1</div>
                        <div class="wiz-lbl hidden-xs"><span>Select a Platform</span></div>
                    </div>
                    <br class="c-both"/>
                </div>
                <div class="col-md-3 col-xs-4">
                    <div class="itm-wiz" data-step="policy-config-profile">
                        <div class="wiz-no">2</div>
                        <div class="wiz-lbl hidden-xs"><span>Configure Profile</span></div>
                    </div>
                    <br class="c-both"/>
                </div>
                <div class="col-md-3 col-xs-4">
                    <div class="itm-wiz" data-step="policy-criteria">
                        <div class="wiz-no">3</div>
                        <div class="wiz-lbl hidden-xs"><span>Assign to Groups</span></div>
                    </div>
                    <br class="c-both"/>
                </div>
                <div class="col-md-3 col-xs-4">
                    <div class="itm-wiz" data-step="policy-content">
                        <div class="wiz-no">4</div>
                        <div class="wiz-lbl hidden-xs"><span>Publish</span></div>
                    </div>
                    <br class="c-both"/>
                </div>
            {{/if}}
        </div>

        <div class="container col-centered wr-content policy-devicetype">
            <div class="wr-form">
                <div class="row wr-wizard">
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row wr-tile-buttons-list">
                            <div class="wr-input-control">
                                <span class="policy-step-desc">Step 1: Select a Platform</span>
                                <div id="ast-container" class="ast-container policy-container">
                                    {{#each deviceTypes}}
                                    <a href="#" class="wizard-stepper"
                                       data-current="policy-devicetype" data-next="policy-config-profile"
                                       data-devicetype="{{name}}" data-devicetype-id="{{id}}">
                                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                            <div class="ctrl-device-type" style="height: auto">
                                                <div class="d01"><img
                                                        src="{{url ""}}/storage/deviceType/{{assetId}}/images_thumbnail"/>
                                                </div>
                                                <div class="d02"><h3 class="white center">{{storeTitle}}</h3></div>
                                                <!--<div class="d03">{{storeDescription}}</div>-->
                                            </div>
                                        </div>
                                        </a>
                                    {{/each}}
                                    <br class="c-both"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container col-centered wr-content policy-config-profile hidden">
            <div class="wr-form">
                <div class="row wr-wizard">
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <span class="policy-step-desc">Step 2: Add DeviceType Policy</span><br/>
                        <br>
                        <div id="policy-profile-main-error-msg" class="alert alert-danger hidden" role="alert">
                            <i class="icon fw fw-error"></i><span></span>
                        </div>
                        <div class="wr-advance-operations">
                            <div class="wr-advance-operations-init">
                                <br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fw fw-settings fw-spin fw-2x"></i>
                                &nbsp;&nbsp;&nbsp;
                                Loading Features . . .
                                <br>
                                <br>
                            </div>
                        </div>
                        <div class="wr-input-control wr-btn-grp">
                            {{#unless deviceId}}
                                <a href="#" class="wr-btn wizard-stepper" data-current="policy-config-profile" data-back="true"
                                   data-next="policy-desc">Back</a>
                            {{/unless}}
                            <a href="#" class="wr-btn wizard-stepper" data-current="policy-config-profile"
                               data-next="policy-criteria">Continue</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container col-centered wr-content policy-criteria hidden">
            <div class="wr-form">
                <div class="row wr-wizard"></div>
                <div class="row">
                    <div class="col-lg-12">
                        <span class="policy-step-desc">Step 3: Assign to Groups</span><br/>
                        <br>
                        <div>
                            <label class="wr-input-label">
                                Set Device Ownership Type
                            </label>
                            <div class="wr-input-control">
                                <div class="cus-col-50">
                                    <select id="ownership-input" class="form-control">
                                        <option value="ANY" selected>ANY</option>
                                        <option value="BYOD">BYOD (Bring Your Own Device) </option>
                                        <option value="COPE">COPE (Corporate-Owned, Personally Enabled)</option>
                                    </select>
                                </div>
                                <br class="c-both" />
                            </div>
                            <div class="wr-input-control">
                                <label class="wr-input-control radio light">
                                    <input id="user-roles-radio-btn" type="radio" name="select-users-radio-btn" class="select-users-radio" checked/>
                                    <span class="helper">&nbsp;Set User Role(s)</span>
                                </label>
                                <label class="wr-input-control radio light" rel="assetfilter">
                                    <input id="users-radio-btn" type="radio" name="select-users-radio-btn" class="select-users-radio" />
                                    <span class="helper">&nbsp;Set User(s)</span>
                                </label>
                            </div>
                            <div id="user-roles-select-field" class="select-users">
                                <div class="wr-input-control">
                                    <div class="cus-col-50">
                                        <select id="user-roles-input" class="form-control select2" multiple="multiple">
                                            <option value="ANY" selected>ANY</option>
                                            {{#each roles}}
                                                <option>{{this}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <br class="c-both" />
                                </div>
                            </div>
                            <div id="users-select-field" class="select-users">
                                <div class="wr-input-control">
                                    <div class="cus-col-50">
                                        <select id="users-input" class="form-control select2" multiple="multiple">
                                            <option value="ANY" selected>ANY</option>
                                            {{#each users}}
                                                <option>{{this}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <br class="c-both" />
                                </div>
                            </div>
                            <br>
                            <label class="wr-input-label" title="">
                                Set an Action upon Non-compliance
                            </label>
                            <div class="wr-input-control">
                                <div class="cus-col-50">
                                    <select id="action-input" class="form-control">
                                        <option data-action="enforce" selected>Enforce</option>
                                        <option data-action="warn">Warn</option>
                                        <option data-action="monitor">Monitor</option>
                                    </select>
                                </div>
                                <br class="c-both" />
                            </div>
                        </div>
                        <div class="wr-input-control wr-btn-grp">
                            <a href="#" class="wr-btn wizard-stepper" data-is-back-btn="true" data-current="policy-criteria" data-next="policy-config-profile">
                                &nbsp;&nbsp;&nbsp;&nbsp;Back&nbsp;&nbsp;&nbsp;&nbsp;
                            </a>
                            <a href="#" class="wr-btn wizard-stepper" data-current="policy-criteria" data-next="policy-content" data-validate="false">
                                &nbsp;&nbsp;&nbsp;&nbsp;Continue&nbsp;&nbsp;&nbsp;&nbsp;
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container col-centered wr-content policy-content hidden">

            <div class="wr-form">

                <div class="row wr-wizard"></div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <span class="policy-step-desc">Step 4: Publish to Devices</span><br/>
                            <br>
                            <div>
                                <label class="wr-input-label" title="">
                                    Set a Name to Your Policy
                                    <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </label>

                                <div class="wr-input-control">
                                    <div class="cus-col-50">
                                        <input id="policy-name-input" type="text" value="" placeholder="Policy name here"
                                               required/>
                                    </div>
                                    <br class="c-both"/>
                                </div>

                                <label class="wr-input-label" title="">
                                    Set Description
                                    <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </label>

                                <div class="wr-input-control">
                                    <div class="cus-col-50">
                                    <textarea id="policy-description-input" placeholder="Policy description here"
                                              required></textarea>
                                    </div>
                                    <br class="c-both"/>
                                </div>
                            </div>
                            <label class="wr-input-label" title="">
                                Set Policy Definition
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </label>

                            <div class="wr-input-control">
                                <div class="cus-col-100">
                                    <textarea id="policy-definition-input" placeholder="Enter the policy"
                                              style="width: 100%;" required></textarea>
                                </div>
                                <br class="c-both"/>
                            </div>
                        </div>
                        <div class="wr-input-control wr-btn-grp">
                            <a href="#" class="wr-btn wizard-stepper" data-current="policy-content" data-back="true"
                               data-next="policy-config-profile">Back</a>
                            <a href="#" class="wr-btn wizard-stepper" data-current="policy-content"
                               data-next="policy-message">Save & Publish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container col-centered wr-content policy-message hidden">
            <div class="wr-form">
                <h1 class="wr-title">Policy creation is successful</h1>
                You will be redirected to policy list in a moment.
            </div>

        </div>

    </div>
</div>

{{! TODO: Generalize these hbs files into one in order to accept any device type dynamically }}
<script id="hidden-operations-arduino" src="/store/extensions/app/store-device-type/themes/store/templates/policy-add/hidden-operations-arduino.hbs" type="text/x-handlebars-template" ></script>
<script id="hidden-operations-raspberrypi" src="/store/extensions/app/store-device-type/themes/store/templates/policy-add/hidden-operations-raspberrypi.hbs" type="text/x-handlebars-template" ></script>
<script id="hidden-operations-virtual_firealarm" src="/store/extensions/app/store-device-type/themes/store/templates/policy-add/hidden-operations-virtual_firealarm.hbs" type="text/x-handlebars-template" ></script>